* {
    border: none;
    border-radius: 5;
    font-family: MesloLGS NF, Hack NF;
    font-size: medium;
    min-height: 0;
}
window#waybar {
    background: @background;
    color: @foreground;
}
#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button.focused {
    background: @foreground;
    color: @background
}
#mode, #clock, #xmr, #memory, #temperature.cpu, #temperature.gpu, #pulseaudio, #pulseaudio.muted, #idle_inhibitor {
    padding: 0 10px;
    margin: 0 10px;
    background: transparent;
    background-color: transparent;
    color: @foreground;
}
